<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.wanted.ws.remote.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.wanted.ws.remote.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.wanted.ws.remote.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCompany</display-name>
    <servlet-name>UpdateCompany</servlet-name>
    <servlet-class>com.wanted.ws.remote.UpdateCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompany</servlet-name>
    <url-pattern>/UpdateCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.wanted.ws.remote.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCompany</display-name>
    <servlet-name>GetCompany</servlet-name>
    <servlet-class>com.wanted.ws.remote.GetCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCompany</servlet-name>
    <url-pattern>/GetCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPost</display-name>
    <servlet-name>GetPost</servlet-name>
    <servlet-class>com.wanted.ws.remote.GetPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPost</servlet-name>
    <url-pattern>/GetPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPeople</display-name>
    <servlet-name>GetPeople</servlet-name>
    <servlet-class>com.wanted.ws.remote.GetPeople</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPeople</servlet-name>
    <url-pattern>/GetPeople</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPost</display-name>
    <servlet-name>AddPost</servlet-name>
    <servlet-class>com.wanted.ws.remote.AddPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPost</servlet-name>
    <url-pattern>/AddPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyPost</display-name>
    <servlet-name>GetMyPost</servlet-name>
    <servlet-class>com.wanted.ws.remote.GetMyPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyPost</servlet-name>
    <url-pattern>/GetMyPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExperience</display-name>
    <servlet-name>AddExperience</servlet-name>
    <servlet-class>com.wanted.ws.remote.AddExperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExperience</servlet-name>
    <url-pattern>/AddExperience</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetExperience</display-name>
    <servlet-name>GetExperience</servlet-name>
    <servlet-class>com.wanted.ws.remote.GetExperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExperience</servlet-name>
    <url-pattern>/GetExperience</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFollow</display-name>
    <servlet-name>AddFollow</servlet-name>
    <servlet-class>com.wanted.ws.remote.AddFollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFollow</servlet-name>
    <url-pattern>/AddFollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFollower</display-name>
    <servlet-name>GetFollower</servlet-name>
    <servlet-class>com.wanted.ws.remote.GetFollower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFollower</servlet-name>
    <url-pattern>/GetFollower</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFollowing</display-name>
    <servlet-name>GetFollowing</servlet-name>
    <servlet-class>com.wanted.ws.remote.GetFollowing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFollowing</servlet-name>
    <url-pattern>/GetFollowing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLike</display-name>
    <servlet-name>AddLike</servlet-name>
    <servlet-class>com.wanted.ws.remote.AddLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLike</servlet-name>
    <url-pattern>/AddLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLike</display-name>
    <servlet-name>GetLike</servlet-name>
    <servlet-class>com.wanted.ws.remote.GetLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLike</servlet-name>
    <url-pattern>/GetLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddApply</display-name>
    <servlet-name>AddApply</servlet-name>
    <servlet-class>com.wanted.ws.remote.AddApply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddApply</servlet-name>
    <url-pattern>/AddApply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApply</display-name>
    <servlet-name>GetApply</servlet-name>
    <servlet-class>com.wanted.ws.remote.GetApply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApply</servlet-name>
    <url-pattern>/GetApply</url-pattern>
  </servlet-mapping>
</web-app>